<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
    <h1>MyGallery</h1>
    <hr>
  </div>
<ul class="topnav">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="gallery">LIST GALLERY</a></li>
  <li><a href="/list">UPLOAD GALLERY</a></li>
  <li><a href="/list">DELETE GALLERY</a></li>
  <li><a href="/">Log Out</a></li>
  <li class="#about"><a href="#about">About</a></li>
</ul>

<div style="padding:0 16px;">
  <div id="welcome">WELCOME</div>
<div class="bg"></div>
</div>
</body>
</html>